<!DOCTYPE html>
<html>
  <head>
    <title>Omrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%Link_to "home", root_path %>
	<% Link_to "models" models_path %>
	<% Link_to "about" about_path %>
	<% Link_to "Contact us" contact_path %>
    <%= yield %>
  </body>
</html>
